.boxbody {
    border-style: solid;
    height: 35%;
    width: 35%;
    display: flex;
    margin-left: 33%;
}

.pagetitle {
    padding-top: 25px;
   font-size: 50;
    text-align: center;
}

.divcreator {
    width: 10%;
    height: 10%;
}
.createboard{
  margin-left: 46%;
  padding: 15px;
  width: 75px;
  border-style: solid;
}