.boxbody {
    border-style: solid;
    
    height: 375px;
    width: 300px;
    display: grid;
   
    margin-left: 40%;
}

.pagetitle {
    padding-top: 25px;
   font-size: 50;
    text-align: center;
    margin-right: 40px;
}

.divcreator {
    width: 10%;
    height: 10%;
}
.createboard{
  margin-left: 42%;
  padding: 15px;
  


}

.gridstyle {
    grid-column-gap: 0ch;
    
}
.cell {

        grid-column-gap: 0px;
        
   
      

   
}